.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  overflow-x: scroll;
  .cards {
    position: relative;
    display: block;
  }
  .slime-img {
    z-index: 5;
  }
}
